.titulo{
    text-align: center;
    font-size: 24px;
}
.card{
    background: var(--color-secundario);
    padding: 30px;
    width: 200px;
    border-radius: 4px;
}
.filas{
    display: flex;
    gap: 35px;
}
.centrado{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
    text-align: center;
}
.card-number{
    color: var(--color-primario);
    font-size: 40px
}
.card-text{
    color: var(--color-blanco);
    font-weight: 500;
}


/* Contenedor principal */
.registrar-asistencia {
    text-align: center;
    margin: 30px 0;
  }
  
  /* Título */
  .titulo {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  /* Contenedor de los inputs y botones */
  .asistencia-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  /* Input */
  .input-container {
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .input-codigo {
    padding: 10px;
    border: none;
    outline: none;
    flex: 1;
  }
  
  .btn-buscar {
    background-color: var(--color-primario);
    font-weight: 900;
    color: var(--color-negro);
    border: none;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
  }
  
  .btn-buscar:hover {
    background-color: var(--color-primario);
  }
  
  /* Botón escanear */
  .btn-escanear {
    background-color: var(--color-primario);
    font-weight: 900;
    color: var(--color-negro);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .btn-escanear:hover {
    background-color: var(--color-primarior);
  }
  
  /* Información del cliente */
  .cliente-info {
    margin: 20px 0;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--color-negro);
    background-color: var(--color-blanco);
    padding: 10px;
    border: 1px solid var(--color-blanco);
    border-radius: 5px;
  }
  
  /* Botones de entrada y salida */
  .botones-entrada-salida {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .btn-entrada,
  .btn-salida {
    background-color: var(--color-primario);
    font-weight: 900;
    color: var(--color-negro);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .btn-entrada:hover,
  .btn-salida:hover {
    background-color: var(--color-primario);
  }
  